{% extends "base.html" %}
{% load common %}

{% block content %}
  <div class="container-fluid">
    <h1>User profile : {{ thisuser.display_name }}</h1>
    <p>Email : {{ request.user.email }}</p>
    <p><img src="{{ request.user.profile_image|thumbnail:'square_120' }}"/></p>

    {% if request.user == thisuser %}
      <ul>
        <li><a href="{% url 'users:update_profile' %}">Update profile</a></li>
        <li><a href="{% url 'users:update_account' %}">Update account</a></li>
      </ul>
    {% endif %}
  </div>
{% endblock %}