
# PostgreSQL
POSTGRES_USER={{cookiecutter.project_slug}}
POSTGRES_PASSWORD=


# Social Accounts
SOCIALACCOUNT_FACEBOOK_CLIENT_ID=
SOCIALACCOUNT_FACEBOOK_SECRET=


# General settings
DJANGO_SECRET_KEY=!!!SET DJANGO_SECRET_KEY!!!
