{% raw %}{% extends "account/base_account.html" %}
{% load socialaccount bootstrap4 %}

{% block account_title %}Login{% endblock %}
{% block account_css_class %}page-account-login{% endblock %}

{% block account_content %}
  <h1>Login</h1>

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <div class="account-social">
      <h2>Social accounts</h2>
      <ul class="social-accounts">
        {% for provider in socialaccount_providers %}
          <li>
            <a class="btn btn-primary"
               href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
               title="{{ provider.name }}">Login with {{ provider.name }}</a>
          </li>
        {% endfor %}
      </ul>
      {% include "socialaccount/snippets/login_extra.html" %}
    </div>
  {% endif %}

  <h2>Email address</h2>
  <form class="form-account form-login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="row">
      <div class="col-md-6">
        {% bootstrap_field form.login %}
        {% bootstrap_field form.password %}
      </div>
    </div>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Login</button>
      <div class="actions-switch"><a class="link-btn" href="{% url 'account_reset_password' %}">Forgot Password?</a> | <a class="link-btn" href="{{ signup_url }}">Sign up</a></div>
    </div>
  </form>
{% endblock %}
{% endraw %}