{% raw %}{% extends "account/base_account.html" %}

{% load socialaccount %}

{% block account_title %}Logout{% endblock %}
{% block account_css_class %}page-account-logout{% endblock %}

{% block account_content %}
  {% if request.GET.flag == 'confirm_on_authenticated' %}
    <h1>E-mail Address Verification</h1>
    <p>You're currently logged in with different user. Please logout from this user first to confirm email.</p>
  {% else %}
    <h1>Logout</h1>
    <p>Are you sure to logout?</p>
  {% endif %}

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-danger" type="submit">Logout</button>
  </form>
{% endblock %}
{% endraw %}