{% raw %}{% extends "account/base_account.html" %}

{% load i18n bootstrap4 %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 form-onecol-wrapper">
        <h2>{% trans "Set Password" %}</h2>

        <form method="POST" action="./" class="password_set">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-group password1">
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                <div class="field">
                    {% bootstrap_field form.password1 show_label=False %}
                    <p class="help-text">รหัสผ่านต้องมีความยาวไม่น้อยกว่า 6 ตัวอักษร</p>
                </div>
            </div>

            <div class="form-group password2">
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                <div class="field">
                    {% bootstrap_field form.password2 show_label=False %}
                    <p class="help-text">{{ form.password2.help_text }}</p>
                </div>
            </div>

            <button class="btn btn-submit" type="submit" name="action">{% trans "Set Password" %}</button>

        </form>
    </div>
  </div>
</div>
{% endblock %}
{% endraw %}