{% raw %}{% extends "account/base_account.html" %}

{% load account %}

{% block account_title %}Password Reset{% endblock %}
{% block account_css_class %}page-account-password-reset-done{% endblock %}

{% block account_content %}
  <h1>Password Reset</h1>
  {% if user.is_authenticated %}
    <!-- Display when authenticated user open `/accounts/password/reset/done/` -->
    {% include "account/snippets/already_logged_in.html" %}
  {% else %}
    <p>We have sent you an e-mail. The email might take a few minutes to arrive.</p>
  {% endif %}
{% endblock %}
{% endraw %}