{% raw %}{% extends "base.html" %}

{% block body_css_class %}page-homepage{% endblock %}

{% block body_content %}
  <div class="container-fluid">
    <header>
      <h1>Welcome to Django Startup</h1>
      <p>You can start using this boilerplate by creating a new app using Django's startapp command</p>
      <pre>$ startapp [app_label] ./app/</pre>
    </header>

    <div class="account">
      <hr/>
      <p>You're currently not logged in.</p>
      <div class="actions">
        <a href="#" class="btn btn-light">Login</a> <a href="#" class="btn btn-primary">Sign up</a>
      </div>
    </div>

{#    <div>#}
{#      {% if not request.user.is_authenticated %}#}
{#        <p>User is not authenticated</p>#}
{#        <p><a href="{% url 'account_login' %}">Login</a> | <a href="{% url 'account_signup' %}">Sign up</a></p>#}
{#      {% else %}#}
{#        <p>Logged in as : <a#}
{#            href="{% url 'useraccount:public_profile_with_slug' request.user.id request.user.slug %}">{{ request.user.display_name }}</a>#}
{#          &lt;{{ request.user.email }}&gt; | <a href="{% url 'useraccount:update_profile' %}">Update profile</a> | <a href="{% url 'useraccount:update_account' %}">Update account</a> | <a#}
{#              href="{% url 'account_logout' %}">Logout</a></p>#}
{#        <p><img src="{{ request.user.profile_image|thumbnail:'square_120' }}"/></p>#}
{#      {% endif %}#}
{#    </div>#}
  </div>
{% endblock %}{% endraw %}