.page-account {
  h1 {
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin: 2rem 0 0.6rem;
  }

  h2 {
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .account-social {
    margin-top: 1rem;

    .social-accounts {
      margin: 1rem 0 2rem;
      padding: 0;

      li {
        list-style: none
      }
    }
  }

  .form-account {
    margin-top: 1rem;

    .errorlist {
      padding: 0;

      li {
        color: $danger;
        list-style: none;
      }
    }

    .form-actions {
      margin-top: 1rem;

      .actions-switch {
        color: #555;
        font-size: 0.9rem;
        margin-top: 0.6rem;
      }
    }
  }
}