.page-homepage {
  header {
    margin-bottom: 3rem;

    h1 {
      color: #222;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      margin: 2rem 0 0.6rem;
    }

    p {
      color: #333;
      font-family: 'PT Serif', serif;
      font-size: 1.2rem;
      line-height: 1.95rem;
    }

    pre {
      background-color: #eee;
      padding: 0.7rem 1rem;
    }
  }

  .account {
    p {
      font-size: 1.05rem;
    }

    .actions {
      .btn {
        margin-right: 0.5rem;
      }
    }
  }
}