{% raw %}<div id="preview-template" style="display: none;">
  <div class="dz-preview dz-file-preview">
    <div class="dz-image"><img data-dz-thumbnail/></div>
    <div class="dz-details">
      <span class="text">Change image</span>
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
    <!--<div class="dz-error-message1"><span data-dz-errormessage>test error</span></div>-->
    <div class="dz-success-mark">
      <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color: #006633"></i><i class="fa fa-check fa-stack-1x" style="color: #ffffff"></i></span>
    </div>
    <div class="dz-error-mark">
      <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color: #cc3333"></i><i class="fa fa-times fa-stack-1x" style="color: #ffffff"></i></span>
    </div>
    <div class="dz-remove"><a href="javascript:undefined;" data-dz-remove>Remove</a></div>
  </div>
</div>{% endraw %}
