{% extends "account/base_account.html" %}

{% load bootstrap3 %}

{% block account_title %}Password Reset{% endblock %}
{% block account_css_class %}page-account-password-reset{% endblock %}

{% block account_content %}
  <h1>Password Reset</h1>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% else %}

    <form method="POST" action="./" class="form-password-reset form-account">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% bootstrap_field form.email %}

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock %}