.navbar {
  background-color: #57326b;
  padding: 0;
  height: 45px;

  .navbar-brand {
    border-right: 1px solid #7e5693;
    color: white;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    height: 45px;
  }

  .nav-item {
    .nav-link {
      color: #d2c0db;
      padding: 0.5rem 0.65rem;
    }

    &.active {
      .nav-link {
        color: #f5f1f7;
      }
    }

    &:hover {
      .nav-link {
        color: white;
      }
    }
  }

  .navbar-nav {
    .dropdown-menu {
      background-color: #492a5a;
      border-radius: 0;
      padding: 0 0;

      .dropdown-item {
        color: #f5f1f7;
        padding: 0.5rem 1.5rem 0.5rem 0.8rem;

        &:hover, &:focus {
          background-color: #2d1a37;
        }

        i {
          color: #d2c0db;
          margin-right: 2px;
        }
      }

      .dropdown-divider {
        border-top: 1px solid #7e5693;
        margin: 0 0;
      }
    }
  }

  .nav-account {
    height: 45px;

    .login, .signup {
      color: #f5f1f7;
      font-size: 0.95rem;
      margin-left: 0.7rem;
      line-height: 45px;

      &:last-child {
        margin-right: 1.1rem;
      }
    }

    .navbar-nav {
      margin-right: 0.5rem;

      .dropdown {
        .nav-link {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 2px 0.3rem 0 0;
          height: 43px;
        }
      }
    }
  }
}