{% raw %}{% extends "account/base_account.html" %}

{% load staticfiles bootstrap3 %}

{% block account_title %}Welcome{% endblock %}
{% block account_css_class %}page-account-welcome{% endblock %}

{% block account_content %}
  <h1>Welcome, new user : {{ sociallogin.user.email_addresses }}</h1>

  <div class="dz-profile-image">
    <label class="control-label" for="id_profile_image">Profile image</label>
    <div class="dropzone" id="user_profile_uploader">
      <input class="hidden" name="file" type="file"/>
      <input type="hidden" name="profile_image" id="id_profile_image">

      <div class="dz-message">
        <p><i class="fa fa-picture-o"></i>Change image</p>
      </div>
    </div>
    {% include 'account/snippets/dropzone_preview_template.html' %}
  </div>


  <form method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% bootstrap_field form.display_name %}
    {% bootstrap_field form.email %}
    <p id="email_suggestion"></p>

    {% bootstrap_field form.password1 %}

    <button class="btn btn-submit" type="submit">Confirm</button>
  </form>
{% endblock %}

{% block javascript %}
<script>
  var uploader_params = {
    upload_url: '{% url 'useraccount:upload_temp_profile_image' %}',
    delete_url: '{% url 'useraccount:delete_temp_profile_image' %}',
    max_file_size_in_mb: {{ UPLOAD_SETTINGS.user_profile.max_size_in_mb }},
    max_file_size: {{ UPLOAD_SETTINGS.user_profile.max_size_in_bytes }},
    accepted_file: '{{ UPLOAD_SETTINGS.user_profile.accepted_file }}'
  };

  var existing_image;
  {% if temp_profile_image %}
    existing_image = {
      name: '{{ temp_profile_image.name }}',
      size: '{{ temp_profile_image.size }}',
      url: '{{ temp_profile_image.url }}'
    };
  {% endif %}

  user_profile_uploader('#user_profile_uploader', uploader_params, existing_image);

  $('#{{ form.email.auto_id }}').on('blur', function() {
    $(this).mailcheck({
      suggested: function(element, suggestion) {
        $('#email_suggestion').html("Did you mean <b><i>" + suggestion.full + "</b></i>?");
      },
      empty: function(element) {
        $('#email_suggestion').html("");
      }
    });
  });

  $('#{{ form.password1.auto_id }}').hideShowPassword(false, true);

</script>
{% endblock %}
{% endraw %}
