{% extends "account/base_account.html" %}

{% load bootstrap3 %}

{% block account_title %}Change Password{% endblock %}
{% block account_css_class %}page-account-password-reset-from-key{% endblock %}

{% block account_content %}
  <h1>Change Password</h1>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
  {% else %}

    {% if form %}
      <form method="POST" action=".">
        {% csrf_token %}

        {% bootstrap_field form.password1 %}
        {% bootstrap_field form.password2 %}

        <button class="btn btn-primary" type="submit" name="action" value="change password">Change password</button>
      </form>
    {% else %}
      <p>Your password is now changed.</p>
    {% endif %}

  {% endif %}
{% endblock %}




