{% extends "account/base_account.html" %}

{% load socialaccount bootstrap3 %}

{% block account_title %}Sign up{% endblock %}
{% block account_css_class %}page-account-signup{% endblock %}

{% block account_content %}
  <h1>Sign up</h1>

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <h2>Social accounts</h2>
    <ul>
      {% for provider in socialaccount_providers %}
        <li>
          <a class="btn btn-primary"
             href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
             title="{{ provider.name }}">Sign up with {{ provider.name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}

  <h2>Email address</h2>

  <form class="form-account form-signup" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% bootstrap_field form.display_name %}
    {% bootstrap_field form.email %}
    <p id="email_suggestion"></p>

    {% bootstrap_field form.password1 %}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <div>
      <div><button class="btn btn-primary" type="submit">Sign up</button></div>
      <div><a class="link-btn" href="{{ login_url }}">Login</a></div>
    </div>
  </form>
{% endblock %}

{% block javascript %}
<script>
$('#{{ form.email.auto_id }}').on('blur', function() {
  $(this).mailcheck({
    suggested: function(element, suggestion) {
      $('#email_suggestion').html("Did you mean <b><i>" + suggestion.full + "</b></i>?");
    },
    empty: function(element) {
      $('#email_suggestion').html("");
    }
  });
});

$('#{{ form.password1.auto_id }}').hideShowPassword(false, true);
</script>
{% endblock %}