{% raw %}{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ user.display_name }} - Update account{% endblock %}
{% block body_css_class %}page-users-account-update{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1>{{ user.display_name }} - Update account</h1>

    <h2>Change email</h2>
    <form method="post" action="{% url 'useraccount:update_account' %}">
      {% csrf_token %}

      {% bootstrap_field email_form.email %}

      {% if request.user.change_email_request %}
        <div class="has_change_email_request">
          <p>You have request to change email address. To confirm, please check your inbox. If you have got no email,
            <button type="submit" name="submit" value="resend">resend</button>
            the request. Or you can
            <button type="submit" name="submit" value="cancel">cancel</button>
            this request.
          </p>
        </div>
      {% endif %}

      <button class="btn btn-submit" type="submit" name="submit" value="email">Change email</button>
    </form>

    <h2>Change password</h2>
    <form method="post" action="{% url 'useraccount:update_account' %}">
      {% csrf_token %}

      {% bootstrap_field password_form.oldpassword %}
      {% bootstrap_field password_form.password1 %}
      {% bootstrap_field password_form.password2 %}

      <button class="btn btn-submit" type="submit" name="submit" value="password">Change password</button>
    </form>
  </div>
{% endblock %}
{% endraw %}