{% raw %}{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}{{ user.display_name }} - Change password{% endblock %}
{% block body_css_class %}page-profile page-change-password{% endblock %}

{% block body_content %}
  <div class="container-fluid">
    <h1>Change password</h1>

    <form method="post" action=".">
      {% csrf_token %}

      <div class="row">
        <div class="col-md-6">
          {% bootstrap_field password_form.oldpassword %}
          {% bootstrap_field password_form.password1 %}
          {% bootstrap_field password_form.password2 %}
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Change password</button>
      </div>
    </form>
  </div>
{% endblock %}
{% endraw %}