{% raw %}{% extends "base.html" %}

{% block title %}{{ user.display_name }} - Profile{% endblock %}
{% block body_css_class %}page-profile{% endblock %}

{% block body_content %}
  <div class="container-fluid">
    <header>
      <h1>{{ thisuser.display_name }}</h1>
      <div class="email">&lt;{{ request.user.email }}&gt;</div>
    </header>

    {% if request.user == thisuser %}
      <ul>
        <li><a href="{% url 'users:edit_profile' %}">Edit profile</a></li>
        <li><a href="{% url 'users:change_password' %}">Change password</a></li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
{% endraw %}