{% raw %}{% extends "users/base_settings.html" %}
{% load bootstrap4 %}

{% block html_title %}{{ block.super }} - Password{% endblock %}
{% block body_css_class %}{{ block.super }} page-account-settings-password{% endblock %}

{% block settings_content %}
  <form method="post" action=".">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-6">
        {% bootstrap_field form.oldpassword %}
        {% bootstrap_field form.password1 %}
        {% bootstrap_field form.password2 %}
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Change password</button>
    </div>
  </form>
{% endblock %}
{% endraw %}