{% raw %}{% extends "account/base_account.html" %}

{% load staticfiles bootstrap4 %}

{% block account_title %}Welcome{% endblock %}
{% block account_css_class %}page-account-welcome{% endblock %}

{% block account_content %}
  <h1>Welcome to Django Startup,</h1>
  <div class="subtitle">Please fill out the form below to complete registration</div>

  <form method="post" action="." class="form-account">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="row">
      <div class="col-md-6">
        {% bootstrap_field form.display_name %}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.password1 %}
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
  </form>
{% endblock %}
{% endraw %}
